[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
qualia = {editable = true,path = "/home/soto/p/qualia"}
pyhamcrest = "*"
behave = "*"
click = "*"
xdg = "*"

[requires]
python_version = "3.7"

[scripts]
pachinko = "python -m pachinko.main"
