.main {
  display: flex;
  flex-direction: column;
  gap: 2em;

  height: 100vh;
  width: 100vw;
  padding: 2em;
}

.mainHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  max-width: 100%;

  h1 {
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    width: 14rem;
    text-align: right;
  }
}

.search {
  font-size: 1.5rem;
  flex: 1 0 0px;
  padding: .5em;
}
