.main {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100vw;

  --image-bg: url(/canvas.jpg);

  --color-bg: oklch(88.7% 0.009 82.1);
  --color-hover: oklch(88.7% 0.009 202.1 / .6);
  --color-overlay: oklch(88.7% 0.009 322.1 / .4);
}

.mainHeader {
  background-image:linear-gradient(var(--color-overlay), var(--color-overlay)), var(--image-bg);
  background-size: 66%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
  max-width: 100%;
  padding: 1em;
  z-index: 1;

  box-shadow: #00000066 0 2px 5px 0;

  h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    width: 8rem;
    text-align: right;
  }
}

.search {
  flex: 1 0 0px;
  font-size: 1rem;
  min-width: 0;
  padding: .5em;
}
