.errorMessage {
  color: #600;
  font-size: 1.5em;
  padding: 0.5em;
  text-align: center;
}

.listContainer {
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;

  overflow: hidden;
}

.grid {
  flex: 1 0 0px;

  :global(.ag-header) {
    display: none;
  }

  :global(.ag-row-animation) :global(.ag-row) {
    transition:
        transform 0.2s,
        top 0.2s,
        opacity 0.1s;
  }

  :global(.ag-center-cols-container) {
    background-image: var(--image-bg), linear-gradient(var(--color-overlay), var(--color-overlay));
    background-size: 66%;
  }
}

.lowScore {
  opacity: 0.6;

  b {
    font-weight: 600;
  }

  .itemLocation b {
    font-weight: 800;
  }
}

.itemLocation {
  font-weight: 600;
  text-align: right;
  padding-left: 1rem !important;
}

.itemBinNo {
  font-weight: 600;
}

.itemSlash {
  text-align: center;
}

.itemName {
}

.itemSize {
  font-weight: 600;
  text-align: center;
  padding-right: 1rem !important;
}
